{% extends "base.html" %}
{% block content %}
<form class="form-inline" action="{{ url_for('register') }}" name="register" method="POST">
  <div class="form-group">
    <input class="form-control" name="email" placeholder="Email" type="text" required>
  </div>
  <br>
  <div class="form-group">
    <input class="form-control" name="username" placeholder="Username" type="text" required>
  </div>
  <br>
  <div class="form-group">
    <input class="form-control" name="password" placeholder="Password" type="password" required>
  </div>
  <br>
<input name="login_or_signup" class="btn btn-secondary"type="submit" value="login">
<input name="login_or_signup" class="btn btn-secondary" type="submit" value="signup">
</form>
{% endblock %}
